<!DOCTYPE html>
<html lang="en"><head>

<title>CrosCrowd Creative &mdash; Business Development</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="CrosCrowd Creative offers a wide range of services to effectively market your business.
We create digital and print advertising campagins, develop websites and modernize your business.">
<meta name="robots" content="index, follow">
<meta name="keywords" content="web_development_servall, website_developers, website_developers_near_me, developer_personal_website,
ecommerce_website_development_company, ecommerce_web_development_company, modern_web_development, ecommerce_development_company,
wix_logo_maker, supreme_logo_maker, animation_studios_near_me, advertising_agencies_near_me, top_creative_agencies, creative_advertising_agency,
ad_agencies_near_me, marketing_and_advertising_agency, boutique_advertising_agency, creative_consultant, facebook_business_help, small_business,
design_agency, web_design_agency, website_design_services, graphic_design_firms, 3d_logo_maker, web_development_company, graphic_design_studio">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
{% load static %}
<link rel="stylesheet" href="{% static 'css/fontstyle.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/aos.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="canonical" href="https://croscrowdcreative.com/"/>
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"></head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-wrap">
<div class="site-mobile-menu site-navbar-target">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close mt-3">
<span class="icon-close2 js-menu-toggle"></span></div></div>
<div class="site-mobile-menu-body"></div></div>
<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
<div class="container">
<div class="row align-items-center">
<div class="col-6 col-xl-2">
<h1 class="mb-0 site-logo"><a href="https://croscrowdcreative.com/" class="h2 mb-0">
<img src="{% static 'img/logo.png' %}" alt="Logo" id="logo">
<span class="text-primary"></span> </a></h1></div>
<div class="col-12 col-md-10 d-none d-xl-block">
<nav class="site-navigation position-relative text-right" role="navigation">
<ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
<li class="navbold"><a href="#about-us">About Us</a></li>
<li class="navbold"><a href="#services">Services</a></li>
<li class="navbold"><a href="#our-promise">Our Promise</a></li>
<li class="navbold"><a href="#contact-section">Contact</a></li></ul></nav></div>
<div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;">
<a href="#" class="site-menu-toggle js-menu-toggle text-white float-right">
<span class="icon-menu h3"></span></a></div></div></div></header>
<div class="site-blocks-cover overlay" style="background-image: url({% static 'img/landing.jpg' %});">
<div>
<div class="row align-items-center justify-content-center"></div></div></div>
<section class="site-section" id="about-us" style="padding-top: 75px">
<div class="container">
<div class="row mb-5"><div class="col-12">
<h2 class="section-title mb-3">Our Approach</h2></div></div>
<div class="row"><div class="col-md-6 col-lg-4">
<div class=" box-with-humber">
<h2><span>&#8578;&nbsp;&nbsp;</span>Consult</h2>
<p class="mb-4">Not sure where to start? We can give you some ideas. Our team of experts can help you get on the right track.
We offer a wide range of services for businesses of every size. </p></div></div>
<div class="col-md-6 col-lg-4">
<div class="box-with-humber">
<h2><span>&#8578;&nbsp;&nbsp;</span>Strategize</h2>
<p class="mb-4">We will come up with a plan to make sure your needs are met quickly and efficiently. Receive a quote free of charge!
You'll know the total price and timeline before we begin.</p></div></div>
<div class="col-md-6 col-lg-4">
<div class=" box-with-humber">
<h2><span>&#8578;&nbsp;&nbsp;</span>Create</h2>
<p class="mb-4">This is our favorite part! We will get to work immediately. You're able to watch our progress and provide any feedback along the way.
We are happy to make edits until you are satisfied.</p></div></div></div></div></section>
<section class="site-section"><div class="container"><div class="row">
<div class="col-lg-6"><div class="owl-carousel slide-one-item-alt">
<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% static 'img/earth43.jpg' %}">
<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% static 'img/paint43.jpg' %}">
<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% static 'img/Money43.jpg' %}">
<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% static 'img/sample43.jpg' %}"></div>
<div class="custom-direction"><a href="#" class="custom-prev">&#8592;</a><a href="#" class="custom-next">&#8594;</a></div></div>
<div class="col-lg-5 ml-auto"><h2 class="section-title mb-3">Customized Solutions</h2>
<p style="font-size: 1.25em; font-weight: 700">Every project is unique.</p>
<p style="padding-bottom: 20px">We've served businesses all around the world from ice cream shops to hedge funds. We've launched successful advertising campaigns,
developed brands and accumulated a library of resources.</p>
<p><a href="/aboutus/" class="btn btn-primary">Learn More</a></p></div></div></div></section>
<section id="services" style="padding-top: 50px; padding-bottom: 200px">
<h2 class="section-title mb-3" style="text-align:center">Services</h2>
<p style="text-align:center">Including but not limited to:</p>
<div class="columns"><ul class="price">
<li class="ServHead">Web Development</li>
<li>&#x27A0; HTML, CSS, Javascript</li>
<li>&#x27A0; eCommerce</li>
<li>&#x27A0; Responsive / Mobile Friendly</li>
<li>&#x27A0; Search Engine Optimization</li>
<li>&#x27A0; Maintenance / Updates</li>
<li class="grey"><a href="/webdevelopment/" class="button">Learn More</a></li></ul></div>
<div class="columns"><ul class="price">
<li class="ServHead">Advertising</li>
<li>&#x27A0; 3D Modeling / Animation</li>
<li>&#x27A0; Logo Design / Development</li>
<li>&#x27A0; Photo / Video / Audio Editing</li>
<li>&#x27A0; Print / Digital Placements</li>
<li>&#x27A0; Campaign Management</li>
<li class="grey"><a href="/advertising/" class="button">Learn More</a></li></ul></div>
<div class="columns">
<ul class="price">
<li class="ServHead">Consulting</li>
<li>&#x27A0; Budget Generation</li>
<li>&#x27A0; Content Creation</li>
<li>&#x27A0; App / Idea Prototyping</li>
<li>&#x27A0; Marketing Strategy</li>
<li>&#x27A0; Analytic Reconciliation</li>
<li class="grey"><a href="/consulting/" class="button">Learn More</a></li></ul></div></section>
<section class="site-section border-bottom bg-light" id="services-section">
<div class="container" id="our-promise" style="padding-top: 500px"><div class="row mb-5">
<div class="col-12 text-center"><h2 class="section-title mb-3">Our Promise</h2></div></div>
<div class="row align-items-stretch">
<div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
<div class="unit-4 d-flex">
<div class="unit-4-icon mr-4"><span class="text-primary icon-fighter-jet"></span></div>
<div><h3>Unique Design</h3>
<p>Your business is special so it deserves an exclusive look. We want to make you stand out from the crowd.</p>
<p><a href="/aboutus/" class="learnmore">Learn More</a></p></div></div></div>
<div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
<div class="unit-4 d-flex">
<div class="unit-4-icon mr-4"><span class="text-primary icon-av_timer"></span></div>
<div><h3>Time Saving</h3>
<p>You don't like to waste time and neither do we. We are a one-stop shop, so you don't have to do any of the heavy lifting.</p>
<p><a href="/aboutus/" class="learnmore">Learn More</a></p></div></div></div>
<div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
<div class="unit-4 d-flex">
<div class="unit-4-icon mr-4"><span class="text-primary icon-wechat"></span></div>
<div><h3>Responsive</h3>
<p>Whatever your preferred communication method is, we will be reachable and attentive at all hours. We've had clients from every time zone.</p>
<p><a href="/aboutus/" class="learnmore">Learn More</a></p></div></div></div>
<div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
<div class="unit-4 d-flex">
<div class="unit-4-icon mr-4"><span class="text-primary icon-user-circle"></span></div>
<div><h3>Customer Service</h3>
<p>Communication is key in every relationship. We are open and transparent with our clients because we all want the same thing.</p>
<p><a href="/aboutus/" class="learnmore">Learn More</a></p></div></div></div>
<div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
<div class="unit-4 d-flex">
<div class="unit-4-icon mr-4"><span class="text-primary icon-connectdevelop"></span></div>
<div><h3>High Definition</h3>
<p>Technology is always changing and so are we. All of our solutions are up-to-date, giving you nothing but the best quality.</p>
<p><a href="/aboutus/" class="learnmore">Learn More</a></p></div></div></div>
<div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
<div class="unit-4 d-flex">
<div class="unit-4-icon mr-4"><span class="text-primary icon-database"></span></div>
<div><h3>Experience</h3><p>We've seen it all. There is no such thing as a bad idea, so don't be afraid to share it with us.</p>
<p><a href="/aboutus/" class="learnmore">Learn More</a></p></div></div></div></div></div></section>
<section class="contact_form" id="contact-section" style="padding-top: 75px"><div class="container">
<div class="col-12 text-center" style="padding-bottom:25px">
<h3 class="section-sub-title">GET IN TOUCH</h3>
<h2 class="section-title mb-3">Let Us Help</h2></div><div class="row">
<div class="col-md-7 mb-" style="padding-bottom: 25px">




<form action="#" method="post" class="contactstyle" onsubmit="return validate()">
<h2 class="formstyle">CONTACT</h2> 
<div class="row form-group">
<div class="col-md-6 mb-3 mb-md-0">
  {% csrf_token %}
{{ form.as_p }}
</div></div>

<div class="row form-group"><div class="col-md-12">
<input type="submit" value="Send Message" class="btn btn-primary btn-md text-white"></div></div></form>

</div>
<div class="col-md-5">
<div class="forminformation">
<p class="mb-0">Address</p>
<p class="mb-4">Los Angeles, California, USA</p>
<p class="mb-0">Phone</p>
<p class="mb-4">+1 (424) 241 0995</p>
<p class="mb-0">Email Address</p>
<p><a href="mailto:hello@croscrowdcreative.com" class="emaillink">hello@croscrowdcreative.com</a></p></div></div></div></div></section>
<footer class="page-footer font-small unique-color-dark" style="padding-top: 200px; background-image: linear-gradient(#000, #e84de3)">
<div><div class="container"></div>
<div class="container text-center text-md-left mt-5"><div class="row mt-3" >
<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
<h6 style="font-size: 1em; text-decoration: underline">CrosCrowd Creative</h6>
</div>
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
<h6 style="font-size: 1em; text-decoration: underline">Content</h6>
<p><a href="/aboutus/" class="footerlinks">Customized Solutions</a></p>
<p><a href="/webdevelopment/" class="footerlinks">Web Development</a></p>
<p><a href="/advertising/" class="footerlinks">Advertising</a></p>
<p><a href="/consulting/" class="footerlinks">Consulting</a></p></div>
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
<h6 style="font-size: 1em; text-decoration: underline">Quick Links</h6>
<p><a href="#about-us" class="footerlinks">About Us</a></p>
<p><a href="#services" class="footerlinks">Services</a></p>
<p><a href="#our-promise" class="footerlinks">Our Promise</a></p>
<p><a href="#contact-section" class="footerlinks">Contact</a></p></div>
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
<h6 style="font-size: 1em; text-decoration: underline">Contact</h6>
<p><i class="fas fa-home mr-3"></i>Los Angeles, California, USA</p>
<p><i class="fas fa-envelope mr-3"></i><a href="mailto:hello@croscrowdcreative.com" class="footerlinks">hello@croscrowdcreative.com</a></p>
<p><i class="fas fa-phone mr-3"></i>+1 (424) 241 0995</p></div></div></div>
<p id="copyright">Copyright &copy;2019 CrosCrowd Creative</p>
<script>function init() {var imgDefer = document.getElementsByTagName('img');
for (var i=0; i<imgDefer.length; i++) {if(imgDefer[i].getAttribute('data-src')) {imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src')); } } } window.onload = init; </script> 
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script>function validate() {alert("We have received your message. Thank you!")}</script>
  <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date()); gtag('set', {'user_id': 'USER_ID'}); gtag('config', 'UA-122096564-1');</script></div></footer></div>
</body>
</html>