@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

div {
  background-color: black;
  width: 300px;
  border: 3px #e84de3 solid;
    padding-top: 50px;
  margin: 20px 20px 20px 20px;
}

h1, h2 {
    color: white;
    font: inherit;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
}

body  {
  background-color: black;
    padding-top: 100px;
    
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #e84de3;
    text-shadow: 5px 5px 20px #e84de3;
}

@media screen and (max-width: 480px) {

		body {
			min-width: 320px;
		}
    
    center {
			min-width: 320px;
		}

	}


body {
      animation: colorchange 5s infinite;
      -webkit-animation: colorchange 5s infinite;
    }

    @keyframes colorchange
    {
      0%   {background: black;}
      50%  {background: #e84de3;}
      100% {background: black;}
    }

    @-webkit-keyframes colorchange
    {
       0%   {background: black;}
      50%  {background: #e84de3;}
      100% {background: black;}
    }
